/* Include File */
@import url('./table.css');

body{
	background: #F7F7F7;
	padding: 0px;
	margin: 0px;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	overflow-x: hidden;
}
.main{
	background: #F7F7F7;
	padding: 0px;
	margin: 0px;
}
.aro-sidebar{
	background: #FFFFFF;
	color: #5488A5!important;
	position: fixed;
	display: inline-block;
	width: 270px;
	height: 100%;
	-webkit-box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.05); 
	box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.05);
	overflow: hidden;
	z-index: 99;
}
.aro-sidebar.active{
	display: none;
}
.aro-sidebar.active ~ .aro-main,
.aro-sidebar.active ~ .aro-footer{
	padding-left: 0px;
}
.aro-sidebar--brand{
	padding: 10px;
}
.aro-sidebar--brand_text{
	color: #515151;
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 1.5px;
}
.aro-sidebar--brand_image{
	width: 250px;
	height: 45px;
}
.aro-sidebar--menu{
	margin-top: 25px;
	height: 60%;
	overflow: hidden;
}
.aro-sidebar--menu_ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
.aro-sidebar--menu_item{
	background: inherit;
	margin: 0px 10px;
	padding: 10px 10px;
	border-radius: 5px;
	cursor: pointer;
}
.aro-sidebar--menu_item:hover a{
	padding: 10px;
	transition-delay: 200ms;
} 
.aro-sidebar--menu_item.active{
	background: #F7F7F7;
}
.aro-sidebar--menu_item.active ~ ul{
	display: block;
	height: auto;
}
.aro-sidebar--menu_item a{
	color: inherit;
	text-decoration: none;
}
.aro-sidebar--menu_item i{
	width: 25px;
	font-size: 17px;
	text-align: center;
	vertical-align: middle;
}
.aro-sidebar--menu_item .menu-text{
	margin-left: 10px;
	font-size: inherit;
	vertical-align: middle;
}
.icon-submenu{
	position: absolute;
	right: 15px;
}
/* Sidebar Scroll */
.aro-sidebar--menu:hover{
	overflow-y: auto;
	transition-delay: 1s;
}
#scroll-sidebar::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
	background-color: rgba(245, 245, 245, 0);
}
#scroll-sidebar::-webkit-scrollbar
{
	width: 8px;
	background-color: rgba(245, 245, 245, 0);
	border-radius: 50px;
}
#scroll-sidebar::-webkit-scrollbar-thumb
{
	background-color: #E0E0E0;
	border-radius: 50px;
}

/* Sidebar Sub-Menu */
.aro-sidebar--submenu_ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 0px;
	display: none;
	transition: height 1s ease-in-out;
}
.aro-sidebar--submenu_item{
	background: inherit;
	margin: 0px 10px;
	padding: 10px 10px;
	border-radius: 3px;
	transition: height 1s;
}
.aro-sidebar--submenu_item:hover a{
	padding: 10px;
	transition-delay: 200ms;
}
.aro-sidebar--submenu_item a{
	color: inherit;
	text-decoration: none;
}
.aro-sidebar--submenu_item i{
	width: 25px;
	font-size: 10px;
	text-align: center;
	vertical-align: middle;
}
.aro-sidebar--submenu_item .submenu-text{
	margin-left: 10px;
	font-size: inherit;
	vertical-align: middle;
}
/* Content */
.aro-main{
	position: relative;
	padding-left: 270px;
}
/* Menu Top */
.aro-top-menu{
	background-color: #5488A5;
	position: fixed;
	top: 0px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	z-index: 1;
}
.btn-icon-sidebar{
	color: #FFFFFF;
	padding: 5px 15px;
	margin: 10px;
	font-size: 25px;
	border-radius: 5px;
	cursor: pointer;
}
.btn-icon-sidebar:hover{
	background: #6593AE;
	padding: 5px 15px;
	margin: 10px;
	font-size: 25px;
	border-radius: 5px;
}

/* Content Css*/
.aro-content{
	padding: 80px 20px 70px 20px;
}
.aro-restraint{
	background: #FFFFFF;
	margin: 10px;
	position: relative;
	box-shadow: rgba(0,0,0,0.05) 0px 0px 15px;
	border-radius: 5px;
}
.aro-restraint_title{
	background: #FFFFFF;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.7px;
	padding: 15px 25px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 2px solid #F7F7F7;
}
.aro-restraint_body{
	padding: 0px 25px 50px 25px;
	border-radius: 0px 0px 5px 5px;
}

/* Footer */
.aro-footer{
	background-color: #FFFFFF;
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding-left: 270px;
	position: fixed;
	bottom: 0px;
	z-index: 1;
}
.aro-footer_text{
	color: #87ABC0;
	font-weight: 500;
	margin: 20px 0px 20px 25px;
}
.aro-footer_social{
	padding: 0px 25px;
}
.aro-footer_social_btn{
	background: #FFFFFF;
	color: #5488A5;
	text-align: center;
	vertical-align: middle;
	font-size: 18px;
	display: inline-block;
	padding: 5px;
	margin: 12px 0px;
	cursor: pointer;
}
.aro-footer_social_btn:hover{
	background: #EDF3F6;
	border-radius: 5px;
}
.aro-footer_social_btn i{
	width: 23px;
	height: 23px;
}

/* Color */
.aro-danger{
	background: #FD397A;
	color: #FFFFFF;
}
.aro-success{
	background: #0ABB87;
	color: #FFFFFF;
}
.aro-info{
	background: #5578EB;
	color: #FFFFFF;
}
.aro-warning{
	background: #FFB822;
	color: #FFFFFF;
}
.aro-primary{
	background: #5867DD;
	color: #FFFFFF;
}
.aro-dark{
	background: #282A3C;
	color: #FFFFFF;
}
.aro-light{
	background: #FFFFFF;
	color: #000000;
}

@media screen and (max-device-width: 980px) {
	.aro-main, .aro-footer{
		padding-left: 0px;
	}
	.aro-sidebar{
		display: none;
	}
	.aro-sidebar.active{
		display: block;
		position: fixed;
		width: 70%;
		height: 100%;
	}
	.aro-sidebar--brand{
		padding: 25px 10px;
	}
	.aro-sidebar .aro-sidebar--brand_text{
		display: inline-block;
		font-size: 60px;
		width: 100%;
	}
	.aro-main .btn-icon-sidebar{
		font-size: 50px;
	}
	.aro-main .aro-content{
		padding: 200px 50px 100px 50px;
	}
	.aro-sidebar--menu_item{
		padding: 20px 25px;
		font-size: 35px;
	}
	.aro-sidebar--menu_item .menu-text{
		margin-left: 20px;
	}
	.aro-sidebar--menu_item i{
		width: 40px;
		text-align: center;
		font-size: 35px;
	}
	.aro-sidebar--submenu_item{
		padding: 20px 25px;
		font-size: 35px;
	}
	.aro-sidebar--submenu_item .submenu-text{
		margin-left: 20px;
	}
	.aro-sidebar--submenu_item i{
		width: 40px;
		text-align: center;
		font-size: 25px;	
	}
	.aro-footer_text{
		font-size: 35px;
		padding: 5px;
	}
	.aro-footer_social_btn{
	    font-size: 30px;
	    padding: 10px;
	    margin: 20px 0px;
	}
}