/* Button */
td > .btn{
	background: transparent;
	color: #5488A5;
}
td > .btn:hover{
	background: #EDF3F6;
}
.btn.active,
.btn:active {
	outline: none;
}
.btn.active.focus,
.btn.active:focus,
.btn.active:hover,
.btn:active.focus,
.btn:active:focus,
.btn:active:hover {
	outline: none;
	box-shadow: none;
}

/* Table */
.aro-table_count{
	width: 70%;
	padding: 5px 0px;
	margin: 25px 0px;
}
.aro-table_count select.aro-control{
	color: #787C81;
	font-size: 13px;
	width: 100%;
	padding: 8px 10px;
	border: 1px solid #DEE2E6;
	border-radius: 5px;
}
.aro-table_search{
    width: 70%;
    padding: 3px;
	margin: 25px 0px;
	margin-left: auto;
	border: 1px solid #DEE2E6;
    border-radius: 5px;
}
.aro-table_search input{
	background: transparent;
	font-size: 13px;
	width: 90%;
	padding: 5px 10px;
	border: none;
}
.aro-table_search label{
	color: #787C81;
	padding: 5px;
	margin: 0px;
	cursor: pointer;
}
.aro-table_count select:focus{
	outline: none;
}
.aro-table_search input:focus{
	outline: none;
}
.aro-table_responsive{
	width: 100%;
	overflow-x: auto;
}
th{
	font-weight: 600;
}
th, td{
	color: #7F7F92;
	font-size: 13px;
	vertical-align: middle;
	text-align: center;
}
span.aro-label_data{
	font-size: 13px;
	border-radius: 50px;
	padding: 0px 15px;
}